<!doctype html>
<html lang="en">
<head>
    {{>_header}}
</head>
<body>
{{>_navbar}}
{{>_home}}
{{>_about}}
{{>_skills}}
{{>_services}}
{{>_project}}
{{>_testimonies}}
{{>_blog}}
{{>_contact}}
{{>_footer}}
</body>
</html>