<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Abhinandan Singla</title>
    <link href="../../../public/css/style.css" rel="stylesheet">
    <script defer src="../../../public/js/script.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet"
          type="text/css"/>

</head>
<body>
<nav id="navbar">
    <div class="max-width">
        <div class="logo">
            Singla.
        </div>
        <div class="nav mobile-nav">
            <ul>
                <li class="nav-btn">Home</li>
                <li class="nav-btn">About</li>
                <li class="nav-btn">Skills</li>
                <li class="nav-btn">Services</li>
                <li class="nav-btn">Products</li>
                <li class="nav-btn">Blog</li>
                <li class="nav-btn">Contact</li>
            </ul>
        </div>
        <div class="mobileBtn nhb"><img alt="" src="../../../public/assets/menu.png"></div>
    </div>
</nav>
{{>_navbar}}
<section class="home">
    <div class="max-width">
        <div class="home-content">
            <div class="subheading">
                We Design & Build Brands
            </div>
            <div class="main-heading">
                Hi, I am Singla This is my favorite work.
            </div>
            <div class="home-btn">
                <a class='hireme' href="">Hire me</a>
                <a class="cv" href="">Download CV</a>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="max-width">
        <div class="columnLeft">
            <figure>
                <img alt="" src="../../../public/assets/aboutme.png">
            </figure>
        </div>
        <div class="columnRight">
            <div class="sub-heading">
                MY INTRO
            </div>
            <div class="main-heading">About Me</div>
            <div class="sub-heading">
                A Small river named Duden flows by their place and supplies it with the necessary regelialia. it is a
                paradisematic country, in which roasted parts of sentences fly into your mouth.
            </div>
            <ul class="bio">
                <li class="bioitems">
                    <span class="bioHead">Name:</span>
                    <span class="bioValue">
                    Abhinandan Singla
                </span></li>
                <li class="bioitems">
                <span class="bioHead">
                    Date of birth:
                </span>
                    <span class="bioValue">April 19,2002</span>
                </li>
                <li class="bioitems">
                    <span class="bioHead">Address:</span>
                    <span class="bioValue">Patran ,Punjab</span>
                </li>

                <li class="bioitems">
                    <span class="bioHead">
                        ZipCode:
                    </span>
                    <span class="bioValue">
                        147105                    </span>
                </li>
                <li class="bioitems">
<span class="bioHead">                 Email:
</span>
                    <span class="bioValue">
    deepusingla0448@gmail.com
</span></li>
                <li class="bioitems"><span class="bioHead">
                    Phone:
                </span>
                    <span class="bioValue">
                    +919779204835
                </span></li>
            </ul>
            <div class="hobbies">
                <div class="hob"><img alt="" src="/public/assets/hobbies/music.png"><span>Music</span></div>
                <div class="hob"><img alt="" src="/public/assets/hobbies/travel.png"><span>Travel</span></div>
                <div class="hob"><img alt="" src="/public/assets/hobbies/movie.png"><span>Movies</span></div>
                <div class="hob"><img alt="" src="/public/assets/hobbies/sport.png"><span>Sports</span></div>
            </div>
        </div>
    </div>
</section>
<section class="skills">
    <div class="max-width">
        <div class="sub-heading">
            Skills
        </div>
        <div class="main-heading">
            My Skills
        </div>
        <div class="sub-heading">
            Far far away behind the word mountains, far from the countries Vokalia and Consonantia
        </div>
        <div class="skillsContainer">
            <div class="circularProgressBar"></div>
        </div>
    </div>

</section>
<section class="services">
    <div class="max-width">
        <div class="sub-heading">I am Grat At</div>
        <div class="main-heading">We awesome services for our clients</div>
        <div class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia
        </div>
        <div class="servicesBlock">
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <span class="serviceCircle1"></span>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
        </div>

    </div>

</section>
<section class="project">
    <div class="max-width">
        <div class="sub-heading">ACCOMPLISHMENTS</div>
        <div class="main-heading">Our Projects</div>
        <div class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia
        </div>
        <div class="projectContainer">
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
            <div class="projectBox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
            </div>
        </div>
    </div>
</section>
<section class="blog">
    <div class="max-width">
        <div class="sub-heading">
            TESTIMONIES
        </div>
        <div class="main-heading">
            What client say about?
        </div>
        <div class="sub-heading">
            Far far away,behind the word mountains,far from the countries Volikalia and Consenta
        </div>
        <div class="blogContainer owl-carousel owl-theme" id="blogContainer">
            <div class="card card1">
                <div class="sub-heading">
                    <span class="icon"></span>
                    Far far away,behind the word mountains,far from the countries Volikalia and Consenta
                    Far far away,behind the word mountains,far from the countries Volikalia and Consenta
                </div>
                <div class="bottom-carousel">
                    <img alt="" src="../../../public/assets/sport.png">
                    <div class="bottom-container">
                        <div class="sub-heading">Abhinandan Singla</div>
                        <div class="sub-heading">Rogar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourblog">
    <div class="max-width">
        <div class="sub-heading">BLOG</div>
        <div class="main-heading">Our Blog</div>
        <div class="third-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque
            debitis dicta dolor dolorum, et eum hic iusto laboriosam magni maiores, nam natus odit officiis quibusdam
        </div>
        <div class="ourblogContainer owl-carousel owl-theme">
            <div class="blogbox">
                <img alt="" src="../../../public/assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
                <div class="sub-heading">july 03, 2020</div>
                <div class="main-heading">
                    Why Lead Generation is key for Business Growth
                </div>
                <div class="third-heading">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aspernatur atque aut corporis
                    cupiditate dicta dolores dolorum et facere ipsum iusto laboriosam minus modi nam nemo neque nihil
                    non
                    porro, quae, quaerat quis recusandae reiciendis rem reprehenderit tenetur unde velit veniam vitae
                    voluptatum. Quisquam.
                </div>
            </div>

        </div>
    </div>


</section>
<section class="contact">
    <div class="max-width">
        <div class="sub-heading">
            CONTACT US
        </div>
        <div class="main-heading">
            Have a Project?
        </div>
        <div class="third-heading"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aspernatur aut
            autem culpa, distinctio eveniet expedita illum, itaque laboriosam molestiae mollitia, quae quam quibusdam
            repudiandae sapiente tempora temporibus voluptates.
        </div>
        <div class="contactContainer">
            <div class="contactForm">
                <form action="">
                    <div class="top">
                        <input class="contact-field" id="name" name="name" placeholder="Your Name" type="text">
                        <input class="contact-field" id="email" name="email" placeholder="Your Email" type="email">
                    </div>
                    <input class="contact-field" id="subject" name="subject" placeholder="Subject" type="text">
                    <textarea class="contact-field" cols="30" id="message" name="message" placeholder="Message"
                              rows="10"></textarea>
                    <button class="submit-btn" type="submit">
                        Send Message
                    </button>

                </form>
            </div>
            <div class="address">
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="../../../public/assets/location.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Address</div>
                        <div class="sub-heading">Patran,Punjab</div>
                    </div>
                </div>
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="../../../public/assets/phone.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Phone</div>
                        <div class="sub-heading">+919779204835</div>
                    </div>
                </div>
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="../../../public/assets/email.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Email</div>
                        <div class="sub-heading">deepusingla0448@gmail.com</div>
                    </div>
                </div>
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="../../../public/assets/website.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Website</div>
                        <div class="sub-heading">...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="bottom">
    <div class="max-width">
        <div class="container c1">
            <div class="main-heading">Lets talk about</div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia numquam sit
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia numquam sit
                unde?
            </div>
            <a class="c1-btn" href='#'>learn More</a>
        </div>
        <div class="container c2">
            <div class="main-heading">Links</div>
            <ul>
                <li class="links">Home</li>
                <li class="links">About</li>
                <li class="links">Services</li>
                <li class="links">Projects</li>
                <li class="links">Contact</li>
            </ul>

        </div>
        <div class="container c3">
            <div class="main-heading">Services</div>
            <ul>
                <li class="links">Home</li>
                <li class="links">About</li>
                <li class="links">Services</li>
                <li class="links">Projects</li>
                <li class="links">Contact</li>
            </ul>
        </div>
        <div class="container c4">
            <div class="main-heading">Have Questions?</div>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi expedita impedit odio qui
                    sapiente sunt voluptas voluptate. Ab aliquid asperiores atque eius, est inventore modi mollitia
                    quasi repudiandae suscipit veniam!
                </li>
                <li>+919779204835</li>
                <li>abhinandansingla048@gmail.com</li>
            </ul>
        </div>
    </div>
</section>
<script crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $('.blogContainer,.ourblogContainer').owlCarousel({
        margin: 20,
        loop: true,
        items: 3,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        dots: true,
        responsive: {
            0: {
                items: 1,
                nav: false
            }, 700: {
                items: 2,
                nav: false,
            }, 1000: {
                items: 3,
                nav: false
            },
        }


    })
</script>
</body>
</html>