<section class="about" id="about">
    <div class="max-width">
        <div class="columnLeft">
            <figure>
                <img alt="" src="../assets/portfolio-about.jpg">
            </figure>
        </div>
        <div class="columnRight">
            <div class="sub-heading">
                MY INTRO
            </div>
            <div class="main-heading">About Me</div>
            <div class="sub-heading">
                A Small river named Duden flows by their place and supplies it with the necessary regelialia. it is a
                paradisematic country, in which roasted parts of sentences fly into your mouth.
            </div>
            <ul class="bio">
                <li class="bioitems">
                    <span class="bioHead">Name:</span>
                    <span class="bioValue">
                    Abhinandan Singla
                </span></li>
                <li class="bioitems">
                <span class="bioHead">
                    Date of birth:
                </span>
                    <span class="bioValue">April 19,2002</span>
                </li>
                <li class="bioitems">
                    <span class="bioHead">Address:</span>
                    <span class="bioValue">Patran ,Punjab</span>
                </li>

                <li class="bioitems">
                    <span class="bioHead">
                        ZipCode:
                    </span>
                    <span class="bioValue">
                        147105                    </span>
                </li>
                <li class="bioitems">
<span class="bioHead">                 Email:
</span>
                    <span class="bioValue">
    deepusingla0448@gmail.com
</span></li>
                <li class="bioitems"><span class="bioHead">
                    Phone:
                </span>
                    <span class="bioValue">
                    +919779204835
                </span></li>
            </ul>
            <div class="hobbies">
                <div class="hob"><img alt="" src="assets/hobbies/music.png"><span>Music</span></div>
                <div class="hob"><img alt="" src="assets/hobbies/travel.png"><span>Travel</span></div>
                <div class="hob"><img alt="" src="assets/hobbies/movie.png"><span>Movies</span></div>
                <div class="hob"><img alt="" src="assets/hobbies/sport.png"><span>Sports</span></div>
            </div>
        </div>
    </div>
</section>
