<section class="ourblog" id="blog">
    <div class="max-width">
        <div class="sub-heading">BLOG</div>
        <div class="main-heading">Our Blog</div>
        <div class="third-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque
            debitis dicta dolor dolorum, et eum hic iusto laboriosam magni maiores, nam natus odit officiis quibusdam
        </div>
        <div class="ourblogContainer owl-carousel owl-theme">
<!--            <div class="blogbox">-->
<!--                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp">-->
<!--                <div class="sub-heading">july 03, 2020</div>-->
<!--                <div class="main-heading">-->
<!--                    Why Lead Generation is key for Business Growth-->
<!--                </div>-->
<!--                <div class="third-heading">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aspernatur atque aut corporis-->
<!--                    cupiditate dicta dolores dolorum et facere ipsum iusto laboriosam minus modi nam nemo neque nihil-->
<!--                    non-->
<!--                    porro, quae, quaerat quis recusandae reiciendis rem reprehenderit tenetur unde velit veniam vitae-->
<!--                    voluptatum. Quisquam.-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>


</section>
