<section class="ourblog" id="blog">
    <div class="max-width">
        <div class="sub-heading">BLOG</div>
        <div class="main-heading">Our Blog</div>
        <div class="third-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi atque
            debitis dicta dolor dolorum, et eum hic iusto laboriosam magni maiores, nam natus odit officiis quibusdam
        </div>
        <div class="ourblogContainer owl-carousel owl-theme">
        </div>
    </div>


</section>
