<section class="contact" id="contact">
    <div class="max-width">
        <div class="sub-heading">
            CONTACT US
        </div>
        <div class="main-heading">
            Have a Project?
        </div>
        <div class="third-heading"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aspernatur aut
            autem culpa, distinctio eveniet expedita illum, itaque laboriosam molestiae mollitia, quae quam quibusdam
            repudiandae sapiente tempora temporibus voluptates.
        </div>
        <div class="contactContainer">
            <div class="contactForm">
                <form action="/api/contactus" method="post">
                    <div class="top">
                        <input class="contact-field" id="name" name="name" placeholder="Your Name" type="text">
                        <input class="contact-field" id="email" name="email" placeholder="Your Email" type="email">
                    </div>
                    <input class="contact-field" id="subject" name="subject" placeholder="Subject" type="text">
                    <textarea class="contact-field" cols="30" id="message" name="message" placeholder="Message"
                              rows="10"></textarea>
                    <button class="submit-btn" type="submit">
                        Send Message
                    </button>

                </form>
            </div>
            <div class="address">
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="assets/location.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Address</div>
                        <div class="sub-heading">Patran,Punjab</div>
                    </div>
                </div>
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="assets/phone.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Phone</div>
                        <div class="sub-heading">+919779204835</div>
                    </div>
                </div>
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src=assets/email.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Email</div>
                        <div class="sub-heading">deepusingla0448@gmail.com</div>
                    </div>
                </div>
                <div class="addressContainer">
                    <div class="icon"><span><img alt="" src="assets/website.png"></span></div>
                    <div class="addressBox">
                        <div class="main-heading">Website</div>
                        <div class="sub-heading">...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
