<section class="bottom" id="footer">
    <div class="max-width">
        <div class="container c1">
            <div class="main-heading">Lets talk about</div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia numquam sit
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia numquam sit
                unde?
            </div>
            <a class="c1-btn" href='#'>learn More</a>
        </div>
        <div class="container c2">
            <div class="main-heading">Links</div>
            <ul>
                <li class="links"><a href="#home">Home</a></li>
                <li class="links"><a href="#about">About</a></li>
                <li class="links"><a href="#services">Services</a></li>
                <li class="links"><a href="#project">Projects</a></li>
                <li class="links"><a href="#contact">Contact</a></li>
            </ul>

        </div>
        <div class="container c3">
            <div class="main-heading">Services</div>
            <ul>
                <li class="links">Home</li>
                <li class="links">About</li>
                <li class="links">Services</li>
                <li class="links">Projects</li>
                <li class="links">Contact</li>
            </ul>
        </div>
        <div class="container c4">
            <div class="main-heading">Have Questions?</div>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi expedita impedit odio qui
                    sapiente sunt voluptas voluptate. Ab aliquid asperiores atque eius, est inventore modi mollitia
                    quasi repudiandae suscipit veniam!
                </li>
                <li>+919779204835</li>
                <li>abhinandansingla048@gmail.com</li>
            </ul>
        </div>
    </div>
</section>
<script crossorigin="anonymous"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script crossorigin="anonymous"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    AOS.init();
</script>
