<section class="home" id="home">
    <div class="max-width">
        <div class="home-content animate__animated animate__fadeInUp">
            <div class="subheading">
                We Design & Build Brands
            </div>
            <div class="main-heading">
                Hi, I am Singla This is my favorite work.
            </div>
            <div class="home-btn">
                <a class='hireme' href="">Hire me</a>
                <a class="cv" href="">Download CV</a>
            </div>
        </div>
    </div>
</section>
