<section class="home" id="home">
    <div class="max-width">
        <div class="home-content animate__animated animate__fadeInUp">
            <div class="subheading">
                I design and code beautifully simple things, and I love what I do.
            </div>
            <div class="main-heading">
                Hi, I’m Abhinandan. Nice to meet you.
            </div>
            <div class="home-btn">
                <a class='hireme' href="">Hire me</a>
                <a class="cv" href="">Download CV</a>
            </div>
        </div>
    </div>
</section>
