<nav id="navbar">
    <div class="max-width">
        <div class="logo">
            Singla.
        </div>
        <div class="nav mobile-nav">
            <ul>
                <li class="nav-btn"><a href="#home">Home</a></li>
                <li class="nav-btn"><a href="#about">About</a></li>
                <li class="nav-btn"><a href="#skills">Skills</a></li>
                <li class="nav-btn"><a href="#services">Services</a></li>
                <li class="nav-btn"><a href="#project">Projects</a></li>
                <li class="nav-btn"><a href="#blog">Blog</a></li>
                <li class="nav-btn"><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="mobileBtn nhb"><i class="fas fa-bars"></i></div>
    </div>
</nav>
