<section class="project" id="project">
    <div class="max-width" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine"
         data-aos-once="false">
        <div class="sub-heading">ACCOMPLISHMENTS</div>
        <div class="main-heading">Our Projects</div>
        <div class="sub-heading">Here are a few design projects I've worked on recently.
        </div>
        <div class="projectContainer">
            <div class="projectBox">
                <img alt="" src="assets/project.png" class="projectImg">
            </div>
            <div class="projectBox">
                <img alt="" src="assets/project.png" class="projectImg">
            </div>

        </div>
    </div>
</section>
