<section class="project" id="project">
    <div class="max-width">
        <div class="sub-heading">ACCOMPLISHMENTS</div>
        <div class="main-heading">Our Projects</div>
        <div class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia
        </div>
        <div class="projectContainer">
            <div class="projectBox">
                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp" class="projectImg">
                <div class="overlay"></div>
                <div class="innerText">
                    <div class="sub-heading">
                        Branding & illustration
                    </div>
                    <div class="main-heading">
                        Web Design
                    </div>
                </div>

            </div>
            <div class="projectBox">
                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
                <div class="overlay"></div>
                <div class="innerText">
                    <div class="sub-heading">
                        Branding & illustration
                    </div>
                    <div class="main-heading">
                        Web Design
                    </div>
                </div>

            </div>
            <div class="projectBox">
                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
                <div class="overlay"></div>
                <div class="innerText">
                    <div class="sub-heading">
                        Branding & illustration
                    </div>
                    <div class="main-heading">
                        Web Design
                    </div>
                </div>

            </div>
            <div class="projectBox">
                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
                <div class="overlay"></div>
                <div class="innerText">
                    <div class="sub-heading">
                        Branding & illustration
                    </div>
                    <div class="main-heading">
                        Web Design
                    </div>
                </div>

            </div>
            <div class="projectBox">
                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
                <div class="overlay"></div>
                <div class="innerText">
                    <div class="sub-heading">
                        Branding & illustration
                    </div>
                    <div class="main-heading">
                        Web Design
                    </div>
                </div>

            </div>
            <div class="projectBox">
                <img alt="" src="assets/cc000117b757e5e8a90d5d3a3f342cda.webp">
                <div class="overlay"></div>
                <div class="innerText">
                    <div class="sub-heading">
                        Branding & illustration
                    </div>
                    <div class="main-heading">
                        Web Design
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
