<section class="services" id="services">
    <div class="max-width">
        <div class="sub-heading">I am Grat At</div>
        <div class="main-heading">We awesome services for our clients</div>
        <div class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia
        </div>
        <div class="servicesBlock" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-sine"
             data-aos-once="false">
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle1"></i>
                    </div>
                    <div class="main-label">Designer</div>
                    <div class="sub-label">I value simple content structure, clean design patterns, and thoughtful interactions.</div>
                </div>
            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle2"></i>
                    </div>
                    <div class="main-label">Front-end Developer</div>
                    <div class="sub-label">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle3"></i>
                    </div>
                    <div class="main-label">Mentor</div>
                    <div class="sub-label">I genuinely care about people, and love helping fellow designers work on their craft.</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle4"></i>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle5"></i>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle6"></i>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="serviceCircle7"></i>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
            <div class="servicesContainer">
                <div class="servicesBox">
                    <div class="serviceIconCircle">
                        <i class="fas serviceCircle8"></i>
                    </div>
                    <div class="main-label">Web Design</div>
                    <div class="sub-label">A smal river named Duden flows by their place and supplies</div>
                </div>

            </div>
        </div>

    </div>

</section>
