<section class="blog" id="testimonies">
    <div class="max-width">
        <div class="sub-heading">
            TESTIMONIES
        </div>
        <div class="main-heading">
            What client say about?
        </div>
        <div class="sub-heading">
            People I've worked with have said some nice things...
        </div>
        <div class="blogContainer owl-carousel owl-theme" id="blogContainer">
        </div>
    </div>
</section>
