<section class="blog" id="testimonies">
    <div class="max-width">
        <div class="sub-heading">
            TESTIMONIES
        </div>
        <div class="main-heading">
            What client say about?
        </div>
        <div class="sub-heading">
            Far far away,behind the word mountains,far from the countries Volikalia and Consenta
        </div>
        <div class="blogContainer owl-carousel owl-theme" id="blogContainer">
            <div class="card card1">
                <div class="sub-heading">
                    <span class="icon"></span>
                    Far far away,behind the word mountains,far from the countries Volikalia and Consenta
                    Far far away,behind the word mountains,far from the countries Volikalia and Consenta
                </div>
                <div class="bottom-carousel">
                    <img alt="" src="assets/sport.png">
                    <div class="bottom-container">
                        <div class="sub-heading">Abhinandan Singla</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
